
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background:#000;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }


body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

html, body {
  height: 100%; }

html {
  height: 100%;
  max-height: 100%; }

body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1em;
  color: #333333;
  -webkit-font-smoothing: antialiased; }

::selection {
  background: #ff7f00; }

::-moz-selection {
  background: #ff7f00; }

a {
  text-decoration: none;
  color: #DF9C81; 
}


h1,
h2,
h3,
h4,
h5,
h5 {
  margin-top: 1.0em;
  margin-bottom: .5em;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: lighter;
  color: #333333;
  -webkit-font-smoothing: antialiased; }

h1 {
  margin-top: 0;
  font-size: 1.8em;
  line-height: 1.2em;
  letter-spacing: .05em; }

h2 {
  font-size: 1.6em; }

h3 {
  font-size: 1.4em; }

h4 {
  font-size: 1.2em; }

h4 {
  font-size: 1.1em; }

h5 {
  font-size: 1em; }

p {
  margin-bottom: 1.3em;
  line-height: 1.7em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

blockquote {
  padding: 0px 10px;
  margin: 0 0 10px;
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-weight: normal;
  font-size: 1em;
  border-left: 3px solid #DF9C81;
  background: white; }
  blockquote p:last-child {
    margin-bottom: 0; }

sup {
  font-size: .8em;
  vertical-align: text-bottom; }

ol, ul {
  margin: 0 0 .3em 1em; }
  ol li, ul li {
    margin: 0 0 .2em 0;
    line-height: 1.6em; }
  ol ol, ol ul, ul ol, ul ul {
    margin: .1em 0 .2em 2em; }

ol {
  list-style-type: decimal; }

ul {
  list-style-type: disc; }

thead tr:first-child {
  color: #d57c58;
  border: 1px solid #DDDDDD;
  text-align: center; }

th {
  font-weight: bold; }

th:first-child, td:first-child {
  padding: 5px 10px 5px 10px;
  border: 1px solid #DDDDDD; }

thead tr:last-child th {
  border: 1px solid #DDDDDD; }

tbody td {
  border-bottom: 1px solid #DDDDDD;
  font-size: .85em; }

td:last-child {
  padding-right: 10px; }

tr, td {
  padding: 5px 10px;
  border: 1px solid #DDDDDD; }

table thead tbody {
  vertical-align: middle; }

.date,
.time,
.author,
.tags {
  font-size: .8em;
  color: #c7c7c7; }
  .date a,
  .time a,
  .author a,
  .tags a {
    color: #666666; }
    .date a:hover,
    .time a:hover,
    .author a:hover,
    .tags a:hover {
      color: #d06c44; }

.excerpt {
  margin: 0;
  font-size: .9em;
  color: #999999; }

.intro {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  color: #999999; }

.block-heading {
  display: inline;
  float: left;
  width: 940px;
  margin: 0 10px;
  position: relative;
  bottom: -15px;
  font-size: .8em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px; }

.label {
  position: relative;
  display: inline-block;
  padding: 8px 18px 9px 18px;
  background: #DF9C81;
  border-radius: 3px;
  text-align: center;
  color: #FFF; }

.container {
  position: relative;
  z-index: 500;
  width: 940px;
  margin: 0 auto; }

.content-wrapper {
  z-index: 800;
  width: 70%;
  margin-left: 30%; }

.content-wrapper__inner {
  margin: 0 10%;
  padding: 50px 0; }

.footer {
    position: absolute;
    font-size: .7em;
    color: #b3b3b3;
    bottom: 0;
    left: 0;
    width: 100%;
}

.avatar,
.logo {
  border-radius: 50%;
  border: 3px solid #FFF;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3);
  transition:all .5s; }

.logo:hover {
  border: 3px solid #FF7F00;
transition:all .5s;
transform:rotate(360deg);
-ms-transform:rotate(360deg); 	/* IE 9 */
-moz-transform:rotate(360deg); 	/* Firefox */
-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
-o-transform:rotate(350deg); 	/* Opera */
}

hr {
  border: none; }

.section-title__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid #DDDDDD; }

.hidden {
  display: none !important; 
}
.panel {
  display: table;
  width: 100%;
  height: 100%; }

.panel__vertical {
  display: table-cell;
  vertical-align: middle; }

.title {
  margin: 15px 0;
  font-size: 2.5em;
  letter-spacing: 4px;
  color: #FFF; }

.description {
  margin: 0 30px; }

.divider {
  width: 50%;
  margin: 20px auto;
  border-top: 1px solid rgba(255, 255, 255, 0.14); }

.divider--secondary {
  width: 15%; }

.container {
  display: table;
  width: 100%;
  height: 100%; 
  background-image: url(../images/back.jpg);
}

.inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  z-index: 800;
  padding: 0 60px; }

.content {
  max-width: 620px;
  margin: 0 auto; }

.content-fixed {
  width: 480px;
  transition: width 1s;
  -webkit-transition: width 1s;
}

.inverted {
  font-weight: 100;
  text-align: center;
  color: #FFF;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4); }
  .panel-inverted a {
    color: #FFF; }

.cover-navigation {
  margin-top: 42px; }

.cover-navigation--social {
  margin-left: 30px; 
}
.layui-tab-card>.layui-tab-title {
  background-color: transparent !important;
}

.layui-tab-card>.layui-tab-title .layui-this {
  background-color: transparent !important;
  color: #c7c7c7;
}

li {
  color: #fff;
  font-size: 2rem;
}

.layui-carousel {
  width: auto !important;
}

.layui-tab-content {
  height: 500px !important;
}

.layui-tab-title {
  text-align: center;
}
.layui-carousel {
  height: 300px;
}

.layui-carousel>[carousel-item] {
  height: 500px;
}

/* #img1:hover {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: layui-up;
} */